subscription_id             = "041b333e-05af-4e85-90c8-3c3c661641ee"
tenant_id                   = "1dc9b339-fadb-432e-86df-423c38a0fcb8"
project_name     = "ml-recommender"
environment      = "dev"
location         = "northeurope"
acr_sku          = "Basic"
key_vault_sku    = "standard"
key_vault_purge_protection = false
tfstate_account_replication = "LRS"

tags = {
  owner = "Adam Luczak"
}
