subscription_id             = "d797cfce-38ad-4cbe-952f-cf741ae0a3ad"
tenant_id                   = "074b83a9-939e-4f0b-bf3a-fe680d883afd"
project_name     = "ml-recommender"
environment      = "dev"
location         = "northeurope"
shared_resource_group_name = "ml-shared-dev-rg"
shared_key_vault_name      = "mlshareddevkv"
shared_key_vault_uri       = "https://mlshareddevkv.vault.azure.net/"
frontend_storage_account_name = "mlrecommenderdevsa"

postgres_admin_username             = "mlshopadmin"
postgres_admin_password_secret_name = "postgres-admin-password"
app_secret_key_secret_name          = "backend-secret-key"
database_url_secret_name            = "backend-database-url"

postgres_version             = "16"
postgres_sku_name            = "Standard_B1ms"
postgres_storage_mb          = 32768
postgres_backup_retention_days = 7

app_service_sku            = "B1"
app_service_container_port = 8000
storage_account_replication = "LRS"
static_site_index_document  = "index.html"
static_site_error_document  = "index.html"

enable_zone_redundant = false

initial_container_image = "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest"

tags = {
  owner = "Adam Luczak"
}
